:root {
    --blue-500: #3D95D2;
    --blue-700: #2C395E;
    --blue-900: #1B2440;
    --red-500:#D23A1D;
    --neutral-white: #fff;
    --neutral-black: #1c1c1c;
    --neutral-gray-200: #E4E6EA;
    --neutral-gray-700: #878787;
    --warn-300: #F1C40F;
    --warn-500: #F39C12;
    --error-300: #E74C3C;
    --error-500: #C0392B;
    --success-300: #2ECC71;
    --success-500: #27AE60;
}